.header-line {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 650px) {
        flex-direction: column;
        position: absolute;
        top: 90%;
        width: 98%;
        z-index: 5;
    }
    .title {
        font-weight: bold;
        width: 100%;
    }
    .actions {
        width: 40%;
        @media screen and (max-width: 650px) {
            width: 100%;
        }
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
    }
}