<section class="m-2">
  <div class="row dashboard mb-3">
    <div class="item-3 col-12 col-md-4 text-center" (click)="tasks()">
      <div>ALL </div><span class="badge badge-dark">{{dashboard.all}}</span>
    </div>
    <div class="item col-12 col-md-4 text-center" (click)="tasksWithParam(true)">
      <div>TO DO </div><span class="badge badge-dark">{{dashboard.todo}}</span>
    </div>
    <div class="item-2 col-12 col-md-4 text-center" (click)="tasksWithParam(false)">
      <div>DONE </div><span class="badge badge-dark">{{dashboard.done}}</span>
    </div>
  </div>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i class="fas fa-plus-circle"></i>
      </div>
    </div>
    <input #task (keyup.enter)="add(task.value)" type="text" class="form-control"
      placeholder="Insira uma nova tarefa aqui..." [(ngModel)]="newTask">
  </div>
  <div class="table-scroll">
    <table class="table table-striped">
      <thead>
      </thead>
      <tbody>
        <tr [class.loading-screen]="isLoading" *ngFor="let row of rows" [ngClass]="{'task-completed': !row.active}"
          (click)="update(row)">
          <td> {{row.description}}</td>
          <td> {{row.user}}</td>
          <td> {{row.date | date}}</td>
          <td class="delete-item text-center" (click)="delete(row)">
            <i class="fas fa-times text-danger"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <div class="row">
      <div [@divState]="state" class="card m-2" style="width: 18rem;" *ngFor="let row of rows"
        [ngClass]="{'card-disabled': !row.active}">
        <div class="card-body" (click)="update(row)">
          <!-- <h5 class="card-title">{{row.user}}</h5> -->
          <span class="card-title badge badge-secondary">{{row.user}}</span>
          <h6 class="card-subtitle mb-2 text-muted">{{row.date | date}}</h6>
          <p class="card-text">{{row.description}}</p>
        </div>
        <div class="delete-item m-3" (click)="delete(row)">
          <i class="fas fa-times text-danger"></i>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Button trigger modal -->
<button #modal [hidden]="true" type="button" class="btn btn-primary" [attr.data-toggle]="'modal'"
  data-target="#exampleModal">
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Qual o seu nome de usuário?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input #user type="text" class="form-control">
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" [disabled]="!user.value" class="btn btn-primary" data-dismiss="modal"
          (click)="setUser(user.value)">Salvar</button>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  loading...
</ng-template>