table {
    font-size: 15px
}

.table-scroll {
    height: 550px;
    overflow: auto;
}

.table-scroll::-webkit-scrollbar {
    display: none;
}

tr {
    cursor: pointer;
}

tr {
    transition: all 300ms;
    &:hover {
        color: red;
    }
    td {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 80%;
    }
}

.loading-screen {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.table {
    .task-completed {
        text-decoration: line-through;
        color: rgb(190, 190, 190);
    }
}

.delete-item {
    width: 15%;
    i {
        font-size: 20px;
        transition: all 300ms;
        &:hover {
            transform: rotate(90deg);
        }  
    }
}

.dashboard {
    margin: 1px;
    color: black;
    font-weight: bold;
    span {
        cursor: pointer;
    }
    .item {
        height: 100px;
        background-color: #d63031;
        transition: all 300ms;
        &:hover {
            background-color: #eb5858;
        }
        p {
            margin-top: 21px;
        }
    }
    .item-2 {
        height: 100px;
        background-color: #00cec9;
        transition: all 300ms;
        &:hover {
            background-color: #02aaa7;
        }
        p {
            margin-top: 21px;
        }
    }
    .item-3 {
        height: 100px;
        background-color: #0984e3;
        transition: all 300ms;
        &:hover {
            background-color: #076fbe;
        }
        p {
            margin-top: 21px;
        }
    }
}
  
  