<section class="categories">
  <div class="category">
    <input class="category__input" type="text" placeholder="Create a new category">
    <img class="category__icon" src="../../../../assets/icons/add-icon.svg">
  </div>
  <div class="list">
    <div class="list__item" *ngFor="let item of categories">
      <h3 class="list__item_title text-capitalize">{{item.title}}</h3>
      <div class="list__item_notification">
        <div class="pendency">
          <div class="pendency__item">
            <img src="../../../../assets/icons/thumb_up-icon.svg">
            <span class="pendency__item--total">{{item.pendencies.done}}</span>
          </div>
          <div class="pendency__item">
            <img class="invert-icon" src="../../../../assets/icons/thumb_up-icon.svg">
            <span class="pendency__item--total">{{item.pendencies.todo}}</span>
          </div>
        </div>
      </div>
    </div>
    <app-empty-box message="Please, register a category above" [item]="categories"></app-empty-box>
  </div>
</section>