<section class="login">
    <div class="login__logo">
        <h1 class="login__logo--title">Ta<span class="login__logo--title-letter">s</span>ks</h1>
    </div>
    <div class="login__box">
        <div class="login__box--line"></div>
    </div>
    <div class="login__form">
        <div class="login__form--box">
            <form [formGroup]="formLogin" (ngSubmit)="login()">
                <input formControlName="email" class="custom-input" type="text" placeholder="Email">
                <input formControlName="password" class="custom-input" type="password" placeholder="Password">
                <div class="buttons">
                    <button class="custom-btn custom-btn-outline">Register</button>
                    <button [disabled]="formLogin.invalid" type="submit" class="custom-btn custom-btn-outline">Sign
                        in</button>
                </div>
            </form>
        </div>
    </div>
</section>