.login {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  height: 500px;
  &__logo {
    margin: auto;
    text-align: center;
    &--title {
      font-size: 50px;
      font-weight: bold;
      padding-left: 50%;
      &-letter {
        color: aqua;
      }
    }
  }
  &__box {
    width: 200px;
    &--line {
        width: 50%;
        height: 100%;
        padding-left: 50%;
        border-right: 3px black solid;
    }
  }
  &__form {
    margin-right: 15%;
    margin-top: 10%;
    .buttons {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
    }
  }
}