.login {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  height: 500px;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
  &__logo {
    margin: auto;
    text-align: center;
    &--title {
      font-size: 50px;
      @media screen and (max-width: 1000px) {
        padding-left: 0;
      }
      &-letter {
        font-weight: bolder;
      }
    }
  }
  &__box {
    width: 200px;
    &--line {
        width: 50%;
        height: 100%;
        padding-left: 50%;
        border-right: 3px black solid;
    }
  }
  &__form {
    margin-right: 15%;
    @media screen and (max-width: 1000px) {
      margin-right: 0;
      padding: 20px;
    }
    margin-top: 10%;
    .buttons {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
    }
  }
}